{% extends 'sidebar_template.html' %}
{% block title %}Dashboard{% endblock %}
{% block path %}
<li class="active">Dashboard</li>
{% endblock %}
{% block content %}
<div class="content mt-3">
    <div class="row" style="word-wrap:break-word;">
        <div class="col-md-8">
            <h1>Contactless Biometric Security and Authorization Using Pinna Scan</h1>
        </div>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-8">
            <code>By:</code><br /><code>Krupa Hebbar - 1RN14CS046</code><br /><code>Prashanth Reddy - 1RN14CS069</code>
        </div>
    </div>
    <br />
    <br />
    <br />
    <hr />
    <div class="row">
        <div class="col-md-12" >
            <pre style="white-space: pre-wrap;">{{ about }}</pre>
        </div>
    </div>
</div>
{% endblock %}
