{% extends 'sidebar_template.html' %}
{% block head %}
<style>

.img {
    padding: 5%;
    max-height: 250px;
    border: 5px dashed lightgrey;
}

.row0 {
    color: white;
    background-color: green;
}
</style>
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block path %}
<li><a href="biometrics">Dashboard</a></li>
<li class="active">Test</li>
{% endblock %}
{% block content %}
<div class="content mt-3">
    <div class="row">
        <div class="col-md-3">
            <div style="text-align:center;">
                <img class="img" src='{{ src }}' />
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Probabilities</strong>
                </div>
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Class</th>
                                <th>Name</th>
                                <th>Confidence</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tuple in response %}
                                <tr class="row{{loop.index0}}">
                                    <td>{{ tuple[0] }}</td>
                                    <td>{{ tuple[1] }}</td>
                                    <td>{{ tuple[2] }}%</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
